@{
    ViewData["Title"] = "Über mich";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center box1 spacing-top">
    <p class="blocksatz">
        Meine Name ist Tim Kleinelsen. ich bin 30 Jahre alt und komme aus Weeze. Während meines Studiums entdeckte ich die Softwareentwicklung für mich und konnte mir durch Projekte
        während des Studium, während meiner Weiterbildung und auch durch einige private Projekte ein fundiertes Wissen in der Softwareentwicklung aneignen.
    </p>
    <p class ="blocksatz">
        Vor der Weiterbildung war ich 3 1/2 Jahre als IT-Kaufmann bzw. IT-Systemkaufmann tätig und konnte mir ein fundiertes Fachwissen über kaufmännische Prozesse und der IT-Struktur
        in kleinen und mitelständigen Unternehmen sammeln.
    </p>
    <p class="blocksatz">
        Im Laufe meiner Weiterbildung und durch persönliche Projekte habe ich mir fundierte Kenntnisse in folgenden Technologien und Tools angeeignet:
    </p>

    <table>
        <thead>
            <tr>
                <th>Ebene</th>
                <th>Technologie-Beispiel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Frontend</td>
                <td>HTML, CSS, Swift, Java FX</td>
            </tr>
            <tr>
                <td>Backend</td>
                <td>C#, Java, .NET, ASP.NET Core</td>
            </tr>
            <tr>
                <td>Datenbank</td>
                <td>SQL Server, MongoDB</td>
            </tr>
            <tr>
                <td>DevOps/Tools</td>
                <td>GitHub, Git, Scrum, DevOPs</td>
            </tr>
            <tr>
                <td>Entwicklungsumgebungen</td>
                <td>Visual Studio, IntelliJ IDEA, Eclipse for Enterprise</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center box1 spacing-top">

    <p class="blocksatz">Hier erfahren Sie mehr über meinen beruflichen Werdegang:</p>

<table>
    <thead>
        <tr>
            <th>Zeitraum</th>
            <th>Position / Tätigkeit</th>
            <th>Ort / Unternehmen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Oktober 2024 – Mai 2025</td>
            <td>Weiterbildung im Bereich Softwareentwicklung</td>
            <td>velpTec Edutainment GmbH</td>
        </tr>
        <tr>
            <td>April 2024 -September 2024</td>
            <td>IT-Systemkaufmann</td>
            <td>D-Consult J. & M. GmbH</td>
        </tr>
        <tr>
            <td>März 2021 - März 2024</td>
            <td>IT-Kaufmann</td>
            <td>IT für Caritas eG</td>
        </tr>
        <tr>
            <td>September 2017 – März 2024</td>
            <td>Studium / Projekte im Bereich Programmierung</td>
            <td>Westfälische Hochschule Bocholt</td>
        </tr>
    </tbody>
</table>
</div>
<p>
    <a href="/files/Lebenslauf_Tim_Kleinelsen.pdf" download>➡ Hier können Sie meinen Lebenslauf als PDF herunterladen</a>
</p>