@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Herzlich Willkommen</h1>
    <h4>Dies ist meine Webseite in der ich mich vorstelle und in der Sie einen Einblick bekommen, in meinen Erfahrungen als Softwareentwicker.</h4>

	<h4>Das bin ich:</h4>
    <img src="Images/Bild_Tim_Kleinelsen.jpg" alt="Foto von mir" style="width: 200px; border-radius: 10px; margin-top: 10px;">

</div>
<div >
    <p></p>
    <p>  Ich bin 30 Jahre alt und komme aus Weeze. Meine große Leidenschaft ist das Programmieren insbesondere mit C#, Java und dem .NET-Framework. Durch meine Weiterbildung sowie verschiedene kleinere Projekte im Rahmen meines Studiums, der beruflichen Qualifizierung und in der Freizeit konnte ich mir ein solides praktisches Wissen aneignen, das ich nun mit Begeisterung in der Berufswelt einbringen möchte.</p>

    <p>  Vor meiner Weiterbildung war ich 3 ½ Jahre als IT-Systemkaufmann tätig. In dieser Zeit habe ich umfangreiche Erfahrungen im Bereich IT-Strukturen und -Prozesse in Unternehmen gesammelt.

        Ich bin motiviert, belastbar und arbeite gerne im Team. Dies sind Eigenschaften, die ich in meinen bisherigen Projekten und Stationen stets erfolgreich einsetzen konnte.
    </p>
</div>
