@{
    ViewData["Title"] = "Home";
}

<div class="text-center box1">
    <h1 class="display-4">Herzlich Willkommen</h1>
    <p></p>
    <h5>Dies ist meine Webseite in der ich mich vorstelle und in der Sie einen Einblick bekommen, in meinen Erfahrungen als Softwareentwicker.</h5>
</div>

<div class="text-center box2 spacing-top">
    <h5>Das bin ich:</h5>
    <img src="Images/Bild_Tim_Kleinelsen.jpg" alt="Foto von mir" style="width: 200px; border-radius: 10px; margin-top: 10px;">
</div>
<div >
    <p></p>
    <p class="blocksatz">  Ich bin 30 Jahre alt und komme aus Weeze. Meine große Leidenschaft ist das Programmieren insbesondere mit C#, Java und dem .NET-Framework. Durch meine Weiterbildung sowie verschiedene kleinere Projekte im Rahmen der beruflichen Qualifizierung und in der Freizeit konnte ich mir ein gutes praktisches Wissen aneignen, dass ich nun in der Berufswelt einbringen möchte.</p>

    <p class="blocksatz">
        Vor meiner Weiterbildung war ich 3 ½ Jahre als IT-Systemkaufmann tätig. In dieser Zeit habe ich umfangreiche Erfahrungen, im Bereich IT-Strukturen und IT-Prozesse in kleinen und mittelständigen Unternehmen sammeln können.

        Ich bin motiviert, belastbar und arbeite gerne im Team. Dies sind Eigenschaften, die ich in meinen bisherigen Projekten und Stationen stets erfolgreich einsetzen konnte.
    </p>
</div>
