@{
    ViewData["Title"] = "Links";
}
<h1>@ViewData["Title"]</h1>

<p>Sie können mich über meine Profile auf Xing, LinkedIn, GitHub und weiteren Plattformen erreichen, um mehr über meine beruflichen Erfahrungen und Projekte zu erfahren.</p>

<div class="imagediv">
	<a href="https://www.xing.com/profile/Tim_Kleinelsen/web_profiles" target="_blank">
		<img src="/Images/XING_Logo.jpg" alt="Xing" style="width: 40px; border-radius: 10px; margin-top: 10px; margin-right: 40px;">
	</a>
	<a href="https://www.linkedin.com/in/tim-kleinelsen/" target="_blank">
		<img src="/Images/Linkedin_Logo.jpg" alt="LinkedIn" style="width: 40px; border-radius: 10px; margin-top: 10px; margin-right: 40px;">
	</a>
	<a href="https://github.com/TimKlsen" target="_blank">
		<img src="/Images/github-mark.png" alt="GitHub" style="width: 40px; border-radius: 10px; margin-top: 10px; margin-right: 40px;">
	</a>
	<a  href="mailto:deinname@example.com">
		
		<img src="/Images/Mail Logo.jpg" alt="Mail" style="width: 40px; border-radius: 10px; margin-top: 10px; ">
	</a>
	
	
	
	
</div>

