@{
    ViewData["Title"] = "Projekte";
}
<h1>@ViewData["Title"]</h1>

<body>
    <p>Hier sind kleine Projekte zu finden, welche ich im Studium, während der Fortbildung und im privaten erstellt habe.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Verwendete Technologie</th>
                <th>Link zum Projekt auf GitHub</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Zeile 1</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
            <tr>
                <td>Zeile 2</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
            <tr>
                <td>Zeile 3</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
            <tr>
                <td>Zeile 4</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
            <tr>
                <td>Zeile 5</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
            <tr>
                <td>Zeile 6</td>
                <td>Inhalt</td>
                <td>Inhalt</td>
                <td><a href="https://github.com/TimKlsen">Zur Beispiel-Seite</a></td>
            </tr>
        </tbody>
    </table>
</body>
