@{
    ViewData["Title"] = "Projekte";
}
<h1>@ViewData["Title"]</h1>

<body>
    <p>Hier sind kleine Projekte zu finden, welche ich während der Fortbildung und im privaten erstellt habe.</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Verwendete Technologie</th>
                <th>Link zum Projekt auf GitHub</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Personenverwaltung</td>
                <td>Ein Verwaltungssystem in dem Personendaten eingegeben werden können und gespeichert werden.</td>
                <td>Java, Swift, SQL, IntelliJ IDEA</td>
                <td><a href="https://github.com/TimKlsen/Personenverwaltung">Zum Projekt</a></td>
            </tr>
            <tr>
                <td>Quiz</td>
                <td>Ein Quiz in dem Fragen beantwortet werden müssen. Es gibt insgesamt 5 Runden mit je einer Frage und vier Antworten. Am Ende wird der Highscore angezeigt </td>
                <td>Java, Swift, IntelliJ IDEA</td>
                <td><a href="https://github.com/TimKlsen/Quiz">Zum Projekt</a></td>
            </tr>
            <tr>
                <td>Notizbuch</td>
                <td>Ein kleines Notizbuch in dem Notizen eingegeben werden können welche in einer txt gespeichert werden.</td>
                <td>Java, Swift, IntelliJ IDEA</td>
                <td><a href="https://github.com/TimKlsen">Zum Projekt</a></td>
            </tr>
            <tr>
                <td>Eigene Homepage</td>
                <td>Eine Webseite in der ich mich selbst präsentiere und meine Programmierkentnisse zeige.</td>
                <td>C#, HTML, CSS, ASP.Net Core, Visual Studio</td>
                <td><a href="https://github.com/TimKlsen/MyHompage">Zum Projekt</a></td>
            </tr>
            
            
        </tbody>
    </table>
</body>
